*{
    box-sizing: border-box;
    font-family: 'Lucida Console', sans-serif;

}
:root
{
    --foreground-color: #e8ca52;
    --block-color: #5bccf6;
    --text-color: rgb(0, 0, 0);
}
body{
    position: relative;
    background-color: #fcde67;
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--foreground-color);
}
body::-webkit-scrollbar-thumb {
    background-color: #71cfff;
    border-radius: 5px;
    outline: 0;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--foreground-color);
    width: 100%;
    border-bottom: 3px solid rgb(31, 41, 55);
    z-index: 999;
}
.center {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 3px solid rgb(0, 0, 0);
    font-size: 22px;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #e23e3e;
    color: white;
    border: 2px solid #fffcfc;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 5px;
}
.logo{
    width: 300px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.nickname a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 3px 5px;
    background-color: rgba(255, 255, 255, 0.111);
    border-radius: 7px;

    font-size: 15px;
    transition: 0.4s ease;

    position: relative;
    left: 355px;
}
.nickname a:hover{
    color: rgb(246, 66, 66);
    background-color: rgb(59, 59, 59);
}
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
.content{
    margin-top: 62px;
    margin-bottom: 00px;
}
.challenge-image{
    border: 5px solid rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 43.2%;
    border-radius: 5px;
    
}
h1{
    font-family: 'Secular One', sans-serif;
    margin-top: 150px;
    color: #000000;
    font-size: 40px;
    text-align: center;
}
.challenge-image img
{
    width: 500px;
}

#challenge-items{
    margin-top: 40px;
}
#challenge-items .item,
#challenge-items .hr-block{
    display: flex;
}
#challenge-items .hr-block{
    position: relative;
    height: 9px;
    width: 100%;
    background-color: rgba(139, 139, 139, 0.432);

    margin-bottom: 40px;
    margin-top: 40px;
}
#challenge-items .item{
    position: relative;
    display: flex;
    align-items: center;

    background-color: rgb(15, 15, 15);
    margin-bottom: 20px;

    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    transition: 0.3s ease;
    text-decoration: none;
}

#challenge-items .item-img{
    height: 120px;
    width: 90px;
    flex-shrink: 0;
}
#other-users{
    margin-top: 20px;
}
.user{
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: var(--block-color);
    color: var(--text-color);
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 16px;

    border-radius: 3px;
    

    transition: 0.15s ease;
}
.user-img{
    width: 32px;
    height: 32px;

    border-radius: 3px;
    overflow: hidden;
}
.user-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.user-nickname{
    padding: 0 10px;
    white-space: nowrap;
}
.user:hover{
    background-color: var(--block-color-hover);
}
.user::after{
    content: 'test';
    position: absolute;

    font-size: 10px;
    color: #fff;

    right: 0px;
    top: -6px;

    padding: 1px 3px;
    border-radius: 2px;
    background-color: #adadad;
}
.user.complete::after{
    content: 'Completed';
    background-color: rgb(7, 148, 0);
}
.user.current::after{
    content: 'Current';
    background-color: rgb(0, 35, 148);
}
.user.failed::after{
    content: 'Failed';
    background-color: rgb(148, 0, 0);
}
#stats-number__graph{
    margin-top: 20px;
}
#stats-number__graph
{
    width: 100%;
    height: 20px;
    background-color: #000;
    border-radius: 3px;
    margin-bottom: 10px;
    overflow: hidden;
}
#stats-number__graph span{
    display: inline-block;
    height: 100%;
}

#stats-number__text span{
    position: absolute;
    width: 10px;
    height: 10px;
    left: -14px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
}
#stats-number__text .item-stat{
    position: relative;
    color: var(--text-color);
    margin-bottom: 10px;
    margin-left: 14px;
    width: fit-content;

    cursor: pointer;
}
#stats-number__text .item-stat::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(54, 54, 54);
    bottom: -4px;
    left: 0;
    transition: 0.15s ease;
}
#stats-number__text .item-stat:hover::after{
    height: 4px;
    background-color: rgb(61,180,242);
}
#challenge-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#challenge-items .info{
    margin-left: 50px;
    font-size: 27px;
}
#challenge-items span{
    position: absolute;
    right: 0px;
    bottom: -10px;
    font-size: 60px;

    color: rgba(255, 255, 255, 0.116);
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    transition: 0.15s ease;
}
#challenge-items .item:hover{
    background-color: #c4d8ef;
    color: #000000;
}
#challenge-items .item:hover{
    background-color: #b9b9b9;
}
#challenge-items .item:hover span{
    color: #329dd3;
}
#challenge-items .item:hover img{
    opacity: 1;
}
.row{
    display: flex;
}
.gif-right img{
    float: right;
    margin-top: 120px;
    margin-right: 50px;
    width: 430px;
}
.gif-footer img{
    float: left;
    width: 60px;
    margin-bottom: 10px;
}
.information .text{
    background-color: var(--block-color);
    color: var(--text-color);
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px 15px;
    border: 3px solid rgb(0,0,0);
}
.special img{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 1px;
    width: 150px;
  }
  .special-gif img{
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0px;
    width: 300px;
  }
.information .date{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    margin-top: 20px;
}
.information .date span{
    margin: 0 15px;
}
.date-block{
    border-radius: 3px;
    text-align: center;
    background-color: var(--block-color);
    border: 3px solid rgb(0,0,0);

    padding: 5px;
    width: 200px;
}
footer{
    background-color: var(--foreground-color);
    text-align: center;
    padding: 20px 5px;
    color: var(--text-color);
}
a{
    color: rgb(61,180,242);
}
#challenge-items .hr-block div{
    position: absolute;
    display: block;

    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    color: rgb(0, 0, 0);
    border: 2px solid rgba(137, 137, 137, 0.621);
    border-radius: 3px;
    background-color: var(--block-color);
    font-weight: 600;

    padding: 5px 30px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#nothing-text{
    text-align: center;
    margin-bottom: 70px;
}
.hide{
    display: none !important;
}

@media only screen and (max-width: 590px) {
    h1{
        text-align: center;
        font-size: 25px;
    }
    .logo{
        width: 200px;
    }
}
@media only screen and (max-width: 445px) {
    .challenge-image img{
        width: 300px;
    }
    #challenge-items .info{
        font-size: 20px;
    }
    #challenge-items span{
        font-size: 45px;
    }
}
@media only screen and (max-width: 330px) {
    .logo{
        width: 100px;
    }
    .challenge-image img{
        width: 190px;
    }
    .information .text{
        font-size: 14px;
        line-height: 23px;
    }
    #challenge-items .info{
        font-size: 14px;
    }
}
